.login__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 25vh auto;
    box-shadow: 0 0 1em #0003;
    border-radius: 10px;
    width: 20%;
    min-width: 300px;
    height: 340px;
  }
  
  .login__title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-size: 35px;
    font-weight: 700;
  }
  
  .login__label__email,
  .login__label__password {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 250px;
    color: #000;
  }
  
  .login__inputs {
    height: 35px;
  }
  
  .login__button {
    margin-top: 20px;
    width: 250px;
    height: 44px;
    color: #000;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .login__button:hover {
    background-color: #d93f3f;
    color: #000;
    transform: scale(1.1); 
  }